.SocialLinksProfileCard {
  background-color: var(--color-gray-800);
  padding: 1.2em;
  max-width: fit-content;
  width: 100%;
  border-radius: 0.6rem;
  text-align: center;
}

.ProfileGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4em;
}

.ProfileImage {
  width: 100%;
  border-radius: 50%;
  width: 4.4em;
}

.ProfileTextGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ProfileName {
  font-size: 1.2rem;
  color: var(--color-white);
  font-weight: 500;
}

.ProfileLocation {
  font-size: 0.7rem;
  color: var(--color-accent);
}

.ProfileBio {
  font-size: 0.7rem;
  color: var(--color-gray-300);
}

.ProfileBio::before,
.ProfileBio::after {
  content: '"';
}

.SocialLinksGroup {
  width: 100%;
}

.SocialLinksGroup ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75em;
}

.SocialLinksGroup li {
  list-style: none;
}

.SocialLinksGroup a:hover {
  background-color: var(--color-accent);
  color: var(--color-gray-900);
}

.SocialLinksGroup a {
  display: block;
  width: 224px;
  background-color: var(--color-gray-600);
  color: var(--color-white);
  border: 0.2rem;
  padding-block: 0.8em;
  border-radius: 0.6em;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 500;
}

@media (min-width: 640px) {
  .ProfileImage {
    width: 6em;
  }

  .ProfileName {
    font-size: 1.6rem;
  }

  .ProfileLocation {
    font-size: 0.8rem;
  }

  .ProfileBio {
    font-size: 0.8rem;
  }

  .SocialLinksGroup a {
    width: 280px;
    padding-block: 0.8em;
    font-size: 0.9em;
    font-weight: 500;
  }

  .SocialLinksGroup ul {
    gap: 0.85em;
  }
}
